<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Framework">

<listeners>
	listener class-name = "org.uncommons.reportng.HTMLReporter"/>
	listener class-name = "org.uncommons.reportng.JUnitXMLReporter"/>
	listener class-name = "alak.dutta.listeners.CustomListeners"/>
</listeners>

  <test name="Insightly Login Test">
    <classes>
          <class name="alak.dutta.testcases.InsightlyLogInTest"/>
    </classes>
  </test> <!-- Test -->
   
   <test name="Task Test">
    <classes>
          <class name="alak.dutta.testcases.Task.TaskTest"/>
    </classes>
  </test> <!-- Test -->
   
  <test name="New Task Test">
    <classes>
          <class name="alak.dutta.testcases.Task.NewTaskTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Contacts New Task Test">
    <classes>
          <class name="alak.dutta.testcases.Task.ContactsTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
